{% extends 'base.html' %}
{% load static %}
{% block body %}
{% include 'includes/navbar.html' %}
<div class="container">
    <div class="row text-center pt-3">
        <h1>Upload your plant <b style="color: green;">Leaf</b> image to detect the <b style="color: red;">Disease</b></h1>
    </div>
    <div class="row p-5 d-flex justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h4>How to get the best Result?</h4>
            <ul>
                <li>Make sure the image is clear</li>
                <li>Make sure there is only a single leaf</li>
            </ul>
            {% if image %}
                Prediction : {{image}}
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6">
            <fieldset>
                <div>
                    <form action="{% url 'upload_image' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="formFile" class="form-label mt-4">Upload your plant leaf image</label>
                        <input class="form-control" type="file" id="formFile" name="image" accept="image/*">
                        <div id="imagePreview" class="mt-2"></div>
                        <button class="btn btn-success mt-2" type="submit">Diagnose</button>
                        <p class="text-body-tertiary mt-1">This model is not prefect and may produce errors</p>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script>
    document.getElementById('formFile').addEventListener('change', function (event) {
        var input = event.target;
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imagePreview = document.getElementById('imagePreview');
                imagePreview.innerHTML = '<img src="' + e.target.result + '" alt="Image Preview" class="img-fluid"">';
            };

            reader.readAsDataURL(file);
        } else {
            console.log('No file selected');
        }
    });
</script>
<script></script>
{% endblock body %}