{% load static %}
<nav class="navbar navbar-expand-lg bg-primary sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img width="150px" src="{% static 'images/logo3.webp' %}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto fs-5 fw-bold">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active {% endif %}" href="{% url 'home' %}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/blogs/' in request.path %}active {% endif %}" href="{% url 'post_list' %}">Blogs</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link {% if request.path == 'about/' %} active {% endif %}" href="#">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        {% if request.user.image %}
                            <img src="{{ request.user.image.url }}" width="30" style="border-radius:50%" height="30"
                                alt="Profile Pic">
                        {% else %}
                            <img src="{% static 'images/default.jpeg' %}" style="border-radius:50%" width="40" height="40"
                                alt="Profile Pic">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                            <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <div class="ms-auto">
                    <div id="openweathermap-widget-19"></div>
                    <script>
                        window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];
                        window.myWidgetParam.push({
                            id: 19,
                            cityid: '{{ city_id }}',
                            appid: 'd980715d4a83aa0eda2ab6ac97594aea',
                            units: 'metric',
                            containerid: 'openweathermap-widget-19',
                        });
                        (function () {
                            var script = document.createElement('script');
                            script.async = true;
                            script.charset = "utf-8";
                            script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(script, s);
                        })();
                    </script>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
