{% extends 'base.html' %}
{% load static %}
{% block title %} Blogs {% endblock title %}
{% block body %}
    {% include 'includes/navbar.html' %}
    <div class="div d-flex justify-content-center align-items-center bg-light mt-2 mb-5" style="height: 200px;">
        <h1 class="text-center p-4 mt-3 fw-bold" style="color:#63b68e;">☘️ Read Our Blogs to know more about <span style="color: #DC143C	;">Diseases</span> and <span style="color: #2c6455;">Solution ☘️</span></h1>
    </div>
    <div class="container mt-3">
        <div class="m-3 p-2">
            <h3> <i class="fa-solid fa-list"></i> Latest Posts</h3>
        </div>
        {% for p in post %}
            <div class="row m-3">
                <a href="{{ p.get_absolute_url }}">
                    <div class="row d-flex">
                        <div class="col d-flex bg-light p-3">
                            <div class="col-7 flex-shrink-5">
                                <a href="{{ p.get_absolute_url }}" class="text-decoration-none fw-bolder">
                                    <h3 class="poppin fw-bolder text-dark m-none p-none">{{ p.title }}</h3>
                                </a>
                                <span class="badge rounded-pill" style="background-color: #2c6455;">{{ p.disease_type }}</span>
                                <p class="text-muted poppin text-truncate pt-4" style="margin-bottom: 2px !important;">{{ p.body| striptags | safe | slice:":80" }}</p>
                                <a href="{{ p.get_absolute_url }}" class="text-decoration-none poppin">
                                    <p class="text-success poppin" ">Read More <i class="fa-solid fa-arrow-right"></i></p>  <!-- Inline CSS to remove margin -->
                                </a>
                            </div>
                            <div class="col-3 flex-shrink-0 d-flex align-items-center justify-content-center">
                                {% if p.thumbnail %}
                                    <img src="{{ p.thumbnail.url }}" class="card-img-top img-fluid">
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                </a>
            </div> 
        {% endfor %}
    </div>
{% endblock body %}